<div class="sidebar left ">
  <ul class="list-sidebar bg-defoult">
     <li> <a   routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-diamond"></i> <span class="nav-label">Dashboard</span></a> </li>
      <li> <a routerLink="/produit" routerLinkActive="active"><i class="fa fa-laptop"></i> <span class="nav-label">Produit</span></a> </li>
    <li> <a href=""><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a></li>
    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
  </ul>
</div>

